/* *{
    outline: 1px dotted purple;
} */

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.game{
    text-align: center; 
    display: block;
} 

.ghost1{
    width: 50px;
    height: 50px;
    background-image: url('./images/ghost1.png');
    display: inline-block;
}

.ghost2{
    width: 50px;
    height: 50px;
    background-image: url('./images/ghost2.png');
    display: inline-block;
}

.pacman{
    width: 50px;
    height: 50px;
    background-image: url('./images/pacman.png');
    display: inline-block;
}

.wall{
    width: 50px;
    height: 50px;
    background-image: url('./images/wall.png');
    display: inline-block;
}

.coin{
    width: 50px;
    height: 50px;
    background-image: url('./images/coin.png');
    display: inline-block;
}

.blankspace{
    width: 50px;
    height: 50px;
    background-image: url('./images/bg.png');
    display: inline-block;
}

div{
    margin: -2px;
    vertical-align: top;
}